.category-square {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  margin-bottom: 8px;
  position: relative;
  overflow: hidden;
  transition: width 0.3s ease;
}

.category-square:hover {
  width: auto;
  padding: 0 10px;
}

.category-text {
  display: none;
  color: rgba(0, 0, 0, 0.7);
  white-space: nowrap;
}

.category-square:hover .category-text {
  display: inline;
}
